.MainText {
  text-align: start;
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;

  width: 600px;
  height: 300px;
  background-color: #1e764d;
  color: white;
  position: relative;
  white-space: pre-wrap;
}

input {
  text-align: center;
  width: 602px;
  position: absolute;
  left: 415px;
}
