* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  font-size: 70px;
  margin-bottom: 63px;
}
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.board {
  background-color: green;
  width: 90%;
  height: 420px;
  position: relative;
}
.board span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  width: 80%;
}

.board-text {
  width: 90%;
  height: 55px;
  font-size: 45px;
  text-align: center;
}
