* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p{
  text-align: center;
  font-size: 70px;
  margin-bottom: 63px;
}
.board{
  background-color: green;
  width: 90%;
  margin: auto auto;
  height: 420px;
}
.textbox{
  width: 90%;
  margin: auto auto;
  height: 20px;
}